<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>24/7</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb251812285515179</string>
				<string>TwentyFour7</string>
				<string>TwentyfourSeven</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.387615629444-skq79j4on7nmcq2s6v2c7d7hollapqvh</string>
				<string>com.googleusercontent.apps.658431378721-od889u2l691svd4124dfj1rlfl888q8o</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Objects.TwentyfourSeven</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.9.1</string>
	<key>FacebookAppID</key>
	<string>251812285515179</string>
	<key>FacebookDisplayName</key>
	<string>24/7</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb</string>
		<string>twitter</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>com.amaz.TwentyfourSeven.payments</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>24/7 need to access your camera to be able to take images in your order</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>24/7 need to access your location to get you the nearst stores and track your order</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>24/7 need to access your location to get you the nearst stores and track your order</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>24/7 need to access your location to get you the nearst stores and track your order</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>24/7 need to access your microphone to send voicenotes</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>24/7 need to access your photos to be able to upload images in your order</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Bahij_TheSansArabic-Bold.ttf</string>
		<string>Bahij_TheSansArabic-Plain.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Splash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_ajGcQCVo376gjR58yH0gscglqzo8cKTZ</string>
		<key>test</key>
		<string>key_test_mnTcQvGh24WahVY2vG8cMiddAFbZiS9j</string>
	</dict>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>onesignal.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.1</string>
        </dict>
      </dict>
    </dict>
</dict>
</plist>
